body {
    margin: 0;
    font-family: "Lucida Grande", sans-serif;
    background-image: url(../img/bekgron3.jpg);
    background-size: cover;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .container img{
    width: 170px;
    height: 100px;
  }
  
  .top-wrapper {
    color: white;
    text-align: center;
  }
  
  .top-wrapper h1 {
    opacity: 0.9;
    font-size: 35px;
    letter-spacing: 5px;
    line-height: 25px;
  }
  
  .top-wrapper p {
    opacity: 0.8;
    margin-bottom: 3px;
    line-height: 15px;
  }
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.7;
    border-radius: 4px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .signup {
    background-color: #239b76;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .login{
    background-color: cornflowerblue;
  }
  
  .btn-wrapper {
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }

  .regis-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px 40px 25px;
    width: 300px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 20px;
}

  .regis-container h1, .login-container h1{
    text-align: center;
    color: #fafafa;
    font-size: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 20px;
    border-bottom: 4px solid #dd868f;
}

  .regis-container label, .forgot, .login-container label{
    text-align: left;
    color: #fff;
  }

  .regis-container input, .login-container input{
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 20px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #dd868f;
    color: #fff;
    font-size: 20px;
  }

  .regis-container a{
    width: 100%;
    height: 40px;
    padding: 10px 117px;
    border: none;
    background-color: #239b76;
    font-size: 18px;
    color: #fafafa;
    border-radius: 20px;
    opacity: 0.7;
  }

  .regis-container a:hover{
    opacity: 1;
  }

  .input-radio input[type="radio"] {
    display: none;
  }
  
  .input-radio label{
    display: inline-block;
    background-color: rgba(0,0,0,0.3);
    padding: 10px 45px;
    font-size: 16px;
    cursor: pointer;
  }

  .input-radio label:hover{
    background-color: rgba(0,0,0,0.8);
  }
  
  .input-radio input[type="radio"]:checked+label {
    background-color: rgba(0,0,0,1);;
  }
  .login-container{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    padding: 20px 25px 40px 25px;
    width: 300px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 20px;
    display:flex;
    flex-direction: column;
  }
  .login-button{
    width: 100%;
    height: 40px;
    padding: 10px 117px;
    border: none;
    background-color: #239b76;
    font-size: 18px;
    color: #fafafa;
    border-radius: 20px;
    opacity: 0.7;
  }

  .login-button:hover{
    opacity: 1;
  }
  
  .menu-topcontainer{
    margin: 10px 10px 10px 10px;
    padding-left: 20px;
  }

  .menu-topcontainer a{
    color: #fff;
    float: right;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 15px;
    border-radius: 10px;
    margin-top: 10px;
  }

  .menu-topcontainer a:hover{
    background-color:  rgba(255, 255, 255, 0.2);
  }

  .menu-topcontainer img{
    width: 160px;
    height: 100px;
    float: left;
    margin-left: 20px;
  }

  .menu-topcontainer input[type=search]{
    padding: 20px;
    margin: 20px 20px 0 100px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    width: 750px;
    height: 40px;
  }

  .menu-kategori p{
    position: absolute;
    left: 300px;
    display: block;
    margin-top: 100px;
  }

  .menu-kategori a{
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
  }

  .menu-kategori a:hover{
    background-color: rgba(255, 255, 255, 0.2);
  }

  .search-container{
    margin-left: 20px;
  }
  .search-filter{
    margin-top: 120px;
  }
  
  .search-filter p{
    color: #fff;
    font-size: 20px;
    float: left;
    margin-right: 15px;
  }
  .search-filter a{
    margin-top: 10px;
    float: left;
    padding: 10px 20px;
    font-size: 15px;
    margin-left: 10px;
    color: #f1f1f1;
    background-color: rgba(0,0,0,0.5);
  }

  .search-filter a:hover{
    background-color: rgba(0,0,0,1);
  }

  .search-result p{
   margin-top: 70px;
   color: #fff;
   letter-spacing: 3px;
  }

  .info-container table{
    position: absolute;
    top: 150px;
    left: 280px;
    text-align: center;
    overflow: hidden;
    color: #fff;
  }

  .webinar-img{
    border-color: #fff;
  }

  .info-beli{
    margin-top: 480px;
  }

  .info-beli p{
    text-align: center;
    display: block;
  }

  .info-beli a{
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 10px 30px;
    margin: 0px 30px;
  }

  .info-beli a:hover{
    background-color: rgba(0,0,0,1);
  }
